.contactInfoContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}

.contactInputContainer {
  flex: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contactInfo {
  border: 0;
  border-bottom: 2px solid #bebec4;
  color: #000;
  height: 2rem;
}

.errorContainer {
  color: #b80808;
  margin: 0.5rem 0 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contactLabel {
  color: #676770;
}

.contactInfo:focus {
  outline: none;
  transition: border-bottom 0.5s ease-out;
  border-bottom: 2px solid #192024;
}

.contactInputContainer:last-child {
  margin-top: 1rem;
}

.invalidContactInfo {
  border-bottom: 2px solid red !important;
  transition: border-bottom 0.5 ease-out;
}

.validContactInfo {
  border: 0;
  border-bottom: 2px solid #bebec4;
}

.sendBtn {
  display: block;
  box-sizing: content-box;
  width: 143px;
  height: 42px;
  background-color: #2e9dff;
  border: 1px solid #2e9dff;
  color: #fff;
  font-weight: 500;
}

.textArea {
  border: 2px solid #8e8e9c;
  padding: 0.7rem;
  font-family: "DM Sans", Arial, sans-serif;
  min-height: 5rem;
}

.sendBtn {
  cursor: pointer;
}

.withStatusMessage {
  margin-bottom: 0.5rem;
}

.withoutStatusMessage {
  margin-bottom: 2rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.submitContainer {
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .contactInfoContainer {
    max-width: 753px;
    margin: 0 auto;
    flex-direction: row;
    gap: 2rem;
    padding: 0;
  }

  .contactInputContainer {
    flex: 40%;
    flex-wrap: wrap;
  }

  .contactInputContainer:last-child {
    margin-top: 0;
  }
}
