.container {
  text-align: center;
  font-weight: 300;
}

.title {
  color: #676770;
  font-size: 1.125rem;
  font-weight: 300;
  margin: 1rem 0 1rem 0;
}

.description {
  color: #676770;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5625rem;
  max-width: 79.125rem;
  margin: 0 auto 1rem auto;
}
