.container {
  padding: 1.25rem 0.625rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.titleContainer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.title {
  color: #676776;
  font-size: 3rem;
  line-height: 0.5;
}

.icon {
  height: 2.5rem;
  color: #676776;
}

.toggleBtn {
  background-color: white;
  border: none;
}

.hamburgerMenu {
  display: block;
  min-width: 4rem;
}

.navigationContainer {
  display: none;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 940px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  .hamburgerMenu {
    display: none;
  }

  .navigationContainer {
    display: block;
  }
}
