.container {
  background-color: #192024;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.75rem 1.875rem 0.75rem;
}

.title {
  font-size: 1.5rem;
  color: #ffff;
  padding: 1.875rem;
}

.img {
  height: 100%;
  object-fit: fill;
  width: 100%;
  margin-bottom: 1.875rem;
}

.description {
  color: #ffff;
  width: 100%;
  text-align: left;
}
