.container {
  min-height: 38rem;
  max-height: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url("/elevatorHero.jpeg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: #ffff;
  font-size: 2rem;
}
