.container {
  padding: 1.875rem 0.75rem 3rem 0.75rem;
}

.title {
  margin-bottom: 1.875rem;
  font-size: 2rem;
  text-align: center;
  color: #676770;
}

.description {
  color: #8e8e9c;
  margin-bottom: 2rem;
}

.listContainer {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 3rem;
}
